@import url('https://font.googleapis.com/css2?family=open+sans:wght@300;400&display=swap');

:root {
    --primary-color: #333;
    --secondary-color: goldenrod;
    --animate-speed: 2s;
    --max-width: 920px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--primary-color);
    color: #fff;
    overflow-x: hidden;
    padding: 0px;
    line-height: 1.4rem;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: inline-block;
    background-color: #333;
    color: #fff;
    opacity: 0.85;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 5px;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: rgba(236, 228, 228, 0.9);
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 ;
    transition: all 0.2s ease-in;
}

.navbar a:hover {
    border-bottom: var(--secondary-color) 2px solid;
    background-color: #333;
    border-radius: 5px;
}

.navbar ul {
    display: flex;
    justify-content:flex-end;
}

.navbar ul li {
 list-style: none;
}

.logo, .about-img {
    width: 200px;
    border-radius: 40%;
    padding-left: 15px;
    margin: 0 auto 30px;
    margin-top: 1rem;
}

.page{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    flex-direction: column;
}

.main-circle .project {
  border: 1px solid ivory;
            width: 200px;
            height: 200px;
            display: inline-block;
           border-radius: 100px;
            align-items: center;
}

h3, h4 {
    border: none;
    margin-top: 1rem;
    transition: all 0.3s ease-in;
}

#btn {
    text-align: center;
}

.btn {
    color: #fff;
    transition: all 0.3s ease-in;
}
    h3:hover, h4:hover, .btn:hover{
            color: goldenrod;
        }

 .main-circle .project a {
    color:rgba(219, 168, 40, 0.418);
     text-decoration: none;
    }

/* Contact Form */
#contact-form {
max-width: 920px;
margin-left: 170px;

}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

 #contact-form button {
        color:black;
        text-decoration: none;
        padding: 15px;
        border: 1px solid #333;
        border-radius: 10px;
        opacity: 0.8;
        transition: all 0.3s ease-in;
    }
     
    #contact-form button:hover {
        color: #fff;
        cursor: pointer;
        background-color:goldenrod;
    }


         /* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
    transition: all 0.3s ease-in;
}

.footer a:hover {
     color: goldenrod;
}

.footer .social > * {
    margin-right: 30px;
}